.header {
  width: auto;
  height: 23rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 6rem;
  text-align: center;
  font-weight: 900;
  position: relative;
}
/*Original picture = https://wallpapercave.com/wp/wp6737038.png*/
.header::before {
  content: "";
  background-image: url("../Assets/AvivInTheBackgroundOfRickAndMorty.jpeg");
  position: fixed;
  opacity: 0.2;
  top: -3rem;
  height: 70%;
  width: 140%;
  background-size: 60% 120%;
  background-repeat: no-repeat;
  background-position: center;
}

.background-logo {
  opacity: 0.2;
}

@media (max-width: 450px) {
  .header {
    width: fit-content;
    height: 20rem;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .title {
    font-size: 3rem;
    text-align: center;
    top: 4rem;
    font-weight: 900;
    position: relative;
  }
  .header::before {
    content: "";
    background-image: url("../Assets/AvivInTheBackgroundOfRickAndMorty.jpeg");
    position: fixed;
    opacity: 0.4;
    height: 50%;
    width: 200%;
    background-size: 60% 120%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
