.load-more-btn-div{
    text-align: center;
    width: 100%;
    background-color: rgb(32, 35, 41);
    padding-bottom: 1.5rem;

}

.load-more-btn{
    text-align: center;
    width: 9rem;
    height: 2.5rem;
    background-color: rgb(32, 35, 41);
    color: white;
    border-color: orange;
    border-width: 3px;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1rem;
}

.load-more-btn:hover{  
    background-color: orange;
}